html, body {
  margin: 0;
}

/* Overarching grid container that encompasses the entire webpage. */
.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3.8fr;
  grid-template-rows: 1fr 4.5fr;
}

/* Sidebar: start of CSS classes */

.sidebar-container {
  background-color: rgb(2, 149, 235);
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 8%;
  display: grid;
  grid-template-rows: 1fr 4fr 6fr;
}

.dashboard {
  font-size: 20px;
  font-weight: 700;
}

.home, .settings {
  font-weight: 600;
  display: grid;
  gap: 15px;
  align-content: start; 
}

.sidebar-container img {
  position: relative;
  top: 3px;
}

.dashboard img {
  position: relative;
  top: 8px;
  right: 4px;
}

/* Sidebar: end of CSS classes */

/* Header: start of CSS classes */

.header-container {
  background-color: white;
  border: 1px solid black;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.search-bar {
  padding-left: 2vw;
}

input {
  width: 82%;
  margin-left: 2.5vw;
  border-radius: 25px;
}

.notifications {
  justify-self: end;
  padding-right: 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 2.5vw;
  font-weight: bold;
}

.hi-there-area {
  padding-left: 2vw;
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-template-rows: 1fr 1fr;
  font-weight: bold;
}

.big-header-picture {
  grid-row: 1 / 3;
  align-self: center;
}

.hi-there, .hi-there-name {
  padding-top: 0.3vh;
  padding-bottom: 0.7vh;
}

.buttons {
  justify-self: end;
  padding-right: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.7vw;
  padding-right: 3vw;
}

button {
  height: 30px;
  width: 65px;
  border-radius: 25px;
  background-color: rgb(2, 149, 235);
  color: white;
}

/* Header: end of CSS classes */

/* Main-Content: start of CSS classes */

.main-content-container {
  background-color: rgb(208, 215, 221);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  /* Area for Your Projects, then area under Announcements. */
  grid-template-columns: 3fr 1fr;
  /* "Your Projects & Announcements" header section, area from "Site Maintenance" to
  "Updated Privacy Policy," the "Trending" header section, area below "Trending." */
  grid-template-rows: 0.7fr 4fr 1fr 3.5fr;
}

.your-projects-header {
  grid-column: 1 / 2;
  align-self: center;
  margin-left: 1vw;
  font-weight: bold;
}

.projects-grid {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  padding-bottom: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2vw;
}

.project {
  background-color: white;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
  border-radius: 10px;
  padding: 25px 15px;
}

.project-name {
  font-weight: bold;
}

.announcements-header {
  grid-column: 2 / 3;
  align-self: center;
  font-weight: bold;
}

.announcements-square {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  border-radius: 10px;
}

.announcement {
  font-size: 11px;
}

.announcement-name {
  font-weight: bold;
  font-size: 12.5px;
}

.trending-header {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
  font-weight: bold;
}

.trending-square {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 6vh;
  background-color: white;
  border-radius: 10px;
}

/* Main-Content: end of CSS classes */
